
.todo-taplist {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  background-color: #f8f9faad;
  border-radius: 8pt;
  overflow: hidden;
}

.tap {
  display: block;
  padding: 5pt 10pt;
  text-align: center;
  background-color: #f8f9fa00;
  color: #6c757d;
  font-weight: 500;
}

.current-tap {
  display: block;
  padding: 5pt 10pt;
  text-align: center;
  background-color: #007bff;
  color: white;
  font-weight: 600;
}

.todo-list {
    flex: 1;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.todo-item {
  display: flex;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  align-items: center;
  gap: 12px;
  padding: 5px 15px;
  margin: 8px 0;
  background-color: #f8f9facc;
  border-radius: 8px;
}


#todo_check {
  padding: 5px;  
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  min-width: 30px;
}

.todo-done {
    background-color: #28a745;
}

.todo-not {
    background-color: #6c757d;
}

#todo_delete {
  margin-left: auto;
  padding: 5px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  background-color: #dc3545;
  color: white;
}

.todo-inputbox {
    width: 100%;
    display: flex;
    margin-top: auto;
}

input[type="todo_title"] {
  flex: 1;
  padding: 8px 16px;
  border: 2px solid #dee2e6;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  margin-right: 12px;
}

#todo_add {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: auto;
}

.todo-d {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #6c757d;

}
